<!DOCTYPE html>
<html lang="en">

</html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

  <div class="dropdown">
    <h2>Course Scheduler</h2>
    <p>Select the classes you want to take, and we'll generate some schedules for you that work with your constraints!
    </p>
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Select a course...
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for course in courses %}
      <a class="dropdown-item"
        href="{{ url_for('display_course', id=course['courseID']) }}">{{ course['courseTitle'] }}</a>
      <hr>
      {% endfor %}
    </div>
  </div>

</body>

</html>