<!DOCTYPE html>
<html lang="en">

</html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

    {% if collision_number == 'empty' %}
    <p style="font-size: 200%; text-align: center;">Here are all possible class schedules for you!</p>
    <div class='container' style="text-align: center;">
        {% for finalAnswer in finalAnswers %}
        {% for elem in finalAnswer %}
        <td>Course Title: {{ elem[0] }}</td>
        <td>Section ID: {{ elem[1] }}</td>
        <br>
        {% endfor %}
        <hr style="height: 3px;background-color:dodgerblue; margin-left: auto; width:25%; margin-right: auto;">
        {% endfor %}
    </div>
    {% else %}
    <p style="font-size: 200%; text-align: center;">No working schedules found!</p>
    <div class='container' style='text-align: center;'>
        <p> Because of your specifications, we were not able to generate a possible class schedule for you that fits
            all of your preferences. Please go back, and try again.</p>
    </div>
    {% endif %}
</body>

</html>
