<!DOCTYPE html>
<html lang="en">

</html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

  <p>Welcome to our Course Scheduler Application. To get started, click the "Select Courses" button below, to specify which courses you would like to take.</p>
  <p>Then, select the earliest time that you want to start your classes. The default start time is 8am.</p>
  <p>Then, select the latest dismissal time for your classes. The default dismissal time is 5pm.</p>
  <p>And finally, select any additional breaks that you would like throughout your day, such as lunch times and break periods.</p>
  <p>All your current selections are displayed below.</p>
  <p>Once you are ready, hit "Generate schedule!" and you will be given a list of possible class schedules to fit your needs.</p>

  <a class="btn btn-dark" href="/display_course" role="button">Select Courses</a>
  <a class="btn btn-dark" href="/set_early" role="button">Select Earliest Start Time</a>
  <a class="btn btn-dark" href="/set_dismissal" role="button">Select Dismissal Time</a>
  <a class="btn btn-dark" href="/set_breaks" role="button">Select Break Periods</a>

  <div class="container">
    {% for i in range(0, desiredlength) %}

    <p>{{desiredcourses[i]}}</p>

    {% endfor %}
  </div>

  <div class="container">
    <p>Your desired earliest start time is: {{ earliest_start }}</p>
  </div>

  <div class="container">
    <p>Your desired dismissal time is: {{ latest_end }}</p>
  </div>

  <a class="btn btn-dark" href="/generate" role="button">Generate Schedule!</a>


</body>

</html>
