<!DOCTYPE html>
<html lang="en">

</html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <form method="POST" action="/set_dismissal" enctype="multipart/form-data">
        <p>desired arrival</p>
        <div class="form-group">
            <label for="desiredDismissal">
                <select class="form-control" name="desiredDismissal">
                    {% for display_time in times %}
                    <option value="{{ display_time }}">{{ display_time }}</option>
                    <hr>
                    {% endfor %}
                </select>
            </label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

</body>

</html>
