<!DOCTYPE html>
<html lang="en">

</html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="dropdown">
        <p>Select the earliest start time for your classes.</p>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Select a time...
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% for display_time in times %}
          <a class="dropdown-item" href="{{ url_for('set_early', time=display_time) }}">{{ display_time }}</a>
          <hr>
          {% endfor %}
        </div>
      </div>
</body>

</html>